*{
    margin: 0;
    padding: 0;
}

.btn {
    padding: 1px;
    width: 90px;
    height: 22px;
    background-color: greenyellow;
    border-radius: 6px;
    border: none;
    color: black;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
   text-decoration: underline;
   color: greenyellow;
   background-color: black;
   transform: scale(1.05);
}

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-top: 10px greenyellow solid;
    border-bottom: none;
}

.nav_container h2{
    margin-left: 60px;
}

.nav_search input{
   width: 300px;
   height: 20px;
}

.nav_search button{
    margin-left: 20px;
}

.nav_container div button{
    margin-right: 20px;
}

.slide_container {
    background-color: black;
}